:root {
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --main-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --white-color: #ffffff;
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --grey-color: #afb1b8;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-color);
  background-color: var(--main-background-color);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

.pre-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo,
.logo-1,
.logo-2 {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-1 {
  color: var(--main-color);
}

.logo-2 {
  color: var(--white-color);
}

.active {
  color: var(--accent-color);
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: inline-block;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer-title,
.footer-title_join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  color: var(--white-color);
}

@media screen and (max-width: 1199px) {
  .footer-title,
  .footer-title_join {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-title,
  .footer-title_join {
    margin-top: 12px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;
}

.menu.is-hidden {
  display: none;
}

.mob-menu {
  height: 796px;
  background-color: var(--white-color);
  padding: 8px 15px 48px 40px;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-content__items {
  margin-bottom: 302px;
}

.mob-menu-content__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.172;
}

.mob-menu-content__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-content__link {
  cursor: pointer;
}

.mob-menu-content__link:hover, .mob-menu-content__link:focus {
  color: var(--accent-color);
}

.mob-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.171;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mob-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.172;
  color: var(--text-color);
  margin-bottom: 54px;
}

.mob-menu-social-list {
  display: flex;
  width: 357px;
}

.mob-menu-social-list__item {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.222;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}

.mob-menu-social-list__item:not(:last-child) {
  margin-right: 9px;
}

.mob-menu-social-list__item:not(:last-child)::after {
  content: "";
  border: solid 1px var(--grey-color);
  height: 22px;
  margin-left: 9px;
}

.menu-open-btn {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}

.header {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}

.navigation {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.nav-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link.active::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  color: var(--text-color);
  fill: var(--text-color);
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    flex-direction: column;
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    align-items: center;
  }
}

.contact__link {
  display: flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .contact__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.contact__icon {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .contact__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__icon_mail {
    width: 14px;
    height: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact__icon_tel {
    width: 10px;
    height: 14px;
  }
}

.hero {
  background-color: var(--dark-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/backgr-mob-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr-tb.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/backgr-tb-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgr.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/backgr-2x.jpg");
  }
}

.hero-container {
  padding: 118px 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding: 118px 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    padding: 195px 285px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.363;
  }
}

.hero-button {
  padding: 10px 32px;
}

.description-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .description-container {
    padding-top: 89px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-flow: row wrap;
  }
}

.advantages__item {
  max-width: 450px;
}

.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    max-width: 354px;
  }
  .advantages__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .advantages__item:nth-child(2n + 1):nth-child(n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
    display: flex;
    flex-direction: column;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__pre-title {
  margin-bottom: 10px;
  text-align: center;
}

.advantages__thumb {
  max-width: 450px;
  text-align: center;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.info-container {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .info-container {
    display: none;
  }
}

.info-list {
  display: flex;
  flex-flow: row wrap;
}

.info-list__item:not(:last-child) {
  margin-right: 30px;
}

.info-list__link {
  position: relative;
  display: flex;
  justify-content: center;
}

.info-list__link::before {
  position: absolute;
  content: "";
  display: flex;
  width: 100%;
  min-height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-list__pre-title {
  position: absolute;
  bottom: 27px;
  color: var(--white-color);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-list__item:hover ::before {
  opacity: 1;
}

.info-list__item:hover .info-list__pre-title {
  opacity: 1;
}

.team {
  background-color: #f5f4fa;
}

.team-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .workers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.workers__person {
  max-width: 450px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.workers__person:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .workers__person {
    max-width: 354px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .workers__person:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .workers__person:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .workers__person {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .workers__person:not(:last-child) {
    margin-right: 30px;
  }
}

.workers__person-information {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
}

.workers__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.workers__job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin: 0;
  }
}

.clients-list__link {
  fill: var(--grey-color);
  width: 210px;
  height: 92px;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__link:hover, .clients-list__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__item {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.clients-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 480px) {
  .clients-list__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    margin-left: 0;
    margin-right: 30px;
  }
  .clients-list__item:nth-last-child(3n + 1) {
    margin-right: 0;
  }
  .clients-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item:nth-last-child(3n + 1) {
    margin-right: 30px;
  }
  .clients-list__item:last-child {
    margin-right: 0;
  }
}

.portfolio-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-flow: row wrap;
  }
}

.projects__item {
  margin-bottom: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .projects__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .projects__item:nth-child(2n) {
    margin-right: 0;
  }
  .projects__item:last-child {
    margin-bottom: 0;
    justify-self: left;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .projects__item:nth-child(3n) {
    margin-right: 0;
  }
  .projects__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.fill {
  position: relative;
  overflow: hidden;
}

.fill::before {
  position: absolute;
  content: "";
  top: 0;
  display: flex;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.techno {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  height: 294px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .techno,
.projects__link:focus .techno {
  opacity: 1;
  transform: translateY(0%);
}

@media screen and (min-width: 480px) {
  .projects__link {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .projects__link {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__link {
    width: 370px;
  }
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover ::before,
.projects__link:focus ::before {
  opacity: 1;
  transform: translateY(0%);
}

.projects__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects__content.first-p {
    padding-bottom: 54px;
  }
}

.projects__content-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.projects__content-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-container {
    max-width: 450;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .address {
    align-items: flex-start;
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet {
    display: flex;
    justify-content: space-between;
    padding-left: 61px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-title_join {
    margin-top: 5px;
  }
}

.direction {
  color: var(--white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__item:not(:first-child) {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:first-child):hover, .address__item:not(:first-child):focus {
  color: var(--accent-color);
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__item:hover, .social__item:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.social__link {
  fill: var(--grey-color);
  padding: 12px 11.97px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  fill: var(--white-color);
}

.social-list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .social-list {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-right: 93px;
  }
}

.social__link_footer {
  fill: var(--white-color);
}

.social__item_footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.sub-form {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .sub-form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .sub-form {
    align-items: center;
    flex-direction: row;
    align-content: center;
  }
}

.sub-form__input {
  min-width: 320px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
}

@media screen and (min-width: 480px) {
  .sub-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-form__input {
    width: 358px;
    margin-right: 10px;
  }
}

.sub-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__input:focus {
  color: var(--white-color);
}

.sub-form__input:hover {
  cursor: pointer;
}

.send-button {
  padding: 10px 28px 10px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .send-button {
    margin-top: 20px;
  }
}

.send-button .send-icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 450px;
  height: 609px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-form__label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__field {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  margin-top: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__comment:focus {
  border-color: var(--accent-color);
}

.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 479px) {
  .modal-form__checkbox-label {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-form__checkbox-label {
    font-size: 12px;
  }
}

.modal-form__checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 15px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  align-self: center;
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
}

.agreement {
  text-decoration: underline;
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .agreement {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .agreement {
    font-size: 12px;
  }
}

[data-modal-close] {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

.modal__close {
  stroke: rgba(0, 0, 0, 0.1);
  fill: var(--main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
}

.buttons-list {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .buttons-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 50px;
  }
}

.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .buttons-list__item:nth-child(-n + 2) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .buttons-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.buttons-list__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-list__button:hover, .buttons-list__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */