.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  max-width: 450;
}

// .footer-address {
//   margin-right: 70px;
// }
.footer-address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-tablet {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 61px;
    padding-right: 75px;
  }
}
.footer-title_join {
  @media screen and (min-width: 768px) {
    margin-top: 5px;
  }
}
.direction {
  color: var(--white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
  // margin-bottom: 9px;
}

.address__item:not(:first-child) {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
