.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.nav-list {
  display: flex;
}

.nav-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.nav-list__link.active::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: flex;

  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-contact {
  color: var(--text-color);
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact__icon {
  margin-right: 10px;
}
