.info-container {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.info-list {
  display: flex;
  flex-flow: row wrap;
}

.info-list__item:not(:last-child) {
  margin-right: 30px;
}

.info-list__link {
  position: relative;
  display: flex;
  justify-content: center;

  &::before {
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    min-height: 70px;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.info-list__pre-title {
  position: absolute;
  bottom: 27px;
  color: var(--white-color);
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-list__item:hover ::before {
  opacity: 1;
}

.info-list__item:hover .info-list__pre-title {
  opacity: 1;
}
