.social-list {
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.social__link--footer {
  fill: var(--white-color);
}

.social__item--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
