.social-list {
  display: flex;
  @media screen and (max-width: 1199px) {
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.social__link_footer {
  fill: var(--white-color);
}

.social__item_footer {
  background-color: rgba(255, 255, 255, 0.1);
}
