:root {
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --main-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --white-color: #ffffff;
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;
  --grey-color: #afb1b8;
}
