.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.pre-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo,
.logo-1,
.logo-2 {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-1 {
  color: var(--main-color);
}

.logo-2 {
  color: var(--white-color);
}

.active {
  color: var(--accent-color);
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: inline-block;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.footer-title,
.footer-title_join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  color: var(--white-color);
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 12px;
  }
}
